<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stars_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,54}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>stars_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{100,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,54}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>stars_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{100,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,54}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>stars_none.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{100,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,54}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>save_stars.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7ce76458123662c947aa4c77e135b88$</string>
            <key>textureFileName</key>
            <string>save_stars.png</string>
        </dict>
    </dict>
</plist>
